.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .montserrat-normal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  .margin-5{
    margin-left: -70px;
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor-cards{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    flex-wrap: wrap; 
    
}